.container {
  min-width: 400px;
  margin: 6em auto;
  width: 33%;
}

.buttons-container {
  margin-top: 20px;
}

.delete-button-container {
  width: min-content;
  display: inline-block;
}

.not-last-button-in-row {
  margin-right: 20px;
}
