.mat-toolbar-row, .mat-toolbar-single-row {
  height: 35px;
}

.sidenav {
  min-width: 240px;
}

a mat-icon {
  padding-right: 15px;
}

.container {
  min-height: -moz-available;
  min-height: -webkit-fill-available;
}
