.container {
  max-width: 1024px;
  margin: 2em auto;
}

.mat-row {
  cursor: pointer;
}

.mat-row:hover {
  background-color: #F5F5F5;
}

.mat-cell {
  margin-right: 20px;
}

.page-title {
  text-align: center;
  padding-top: 45px;
  font-size: 23px;
  font-weight: 500;
  height: 45px;
}

button {
  margin-top: 20px;
}

.filter-books {
  width: 22%;
  margin-top: 6px;
}

.first {
  margin-left: 20px;
}

.second {
  margin-left: 2%;
}

.genres-search {
  height: 45px;
  margin-left: 16px;
  width: auto;
}
