.container {
  max-width: 1024px;
  margin: 2em auto;
}

.mat-row {
  cursor: pointer;
}

.mat-row:hover {
  background-color: #F5F5F5;
}

.mat-cell {
  margin-right: 20px;
}

.page-title {
  text-align: center;
  padding-top: 45px;
  font-size: 23px;
  font-weight: 500;
  height: 45px;
}

button {
  margin-top: 20px;
}

.filter-freetext {
  width: -webkit-fill-available;
  margin: 6px 20px 0;
}
