<div class="container" *ngIf="checkoutIsLoaded">
  <div class="page-title">
    <a>{{pageTitle}}</a>
  </div>
  <div class="mat-elevation-z4">
    <div class="form-container">
      <mat-card-title>{{checkout.borrowedBook.title}}</mat-card-title><br>
      <p>
        <mat-form-field class="book-info-field-large" appearance="fill">
          <mat-label>Borrower first name</mat-label>
          <input matInput required [(ngModel)]="checkout.borrowerFirstName" ngDefaultControl>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="book-info-field-large" appearance="fill">
          <mat-label>Borrower last name</mat-label>
          <input matInput [(ngModel)]="checkout.borrowerLastName" required ngDefaultControl>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Date checked out</mat-label>
          <input [(ngModel)]="fromDate" required matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker  #picker></mat-datepicker>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Due date</mat-label>
          <input [(ngModel)]="dueDate" required matInput [matDatepicker]="picker2">
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <mat-datepicker #picker2></mat-datepicker>
        </mat-form-field>
      </p>
    </div>
  </div>
  <button [disabled]="!isCheckoutValid()" (click)="saveCheckoutAndTable()" mat-raised-button color="primary">Save</button>
  <button [disabled]="!isCheckoutValid()" (click)="saveCheckoutAndView()" mat-raised-button color="primary">Save and view</button>
  <button mat-raised-button color="accent" routerLink="/checkouts">Cancel</button>
</div>
