<div class="container" *ngIf="(book$ | async) as book">
  <mat-card>
    <mat-card-title>{{book.title}}</mat-card-title>
    <mat-card-content>
      <mat-nav-list>
        <a mat-list-item>
          Author: {{book.author}}
        </a>
        <a mat-list-item>
          Genre: {{book.genre}}
        </a>
        <a mat-list-item>
          Year: {{book.year}}
        </a>
        <a mat-list-item>
          Added: {{book.added}}
        </a>
        <a mat-list-item>
          Status: {{book.status}}
        </a>
        <a mat-list-item *ngIf="book.status === BORROWED">
          Borrowed due date: {{book.dueDate}}
        </a>
        <a mat-list-item>
          Times checked out: {{book.checkOutCount}}
        </a>
        <a mat-list-item *ngIf="book.comment != null">
          Comment: {{book.comment}}
        </a>
      </mat-nav-list>
    </mat-card-content>
  </mat-card>
  <div class="buttons-container">
    <button class="first-button-in-row" mat-raised-button color="primary" [routerLink]="['/book-form/edit', book.id]">Edit</button>
    <div matTooltip="Can't delete unavailable book" matTooltipPosition="after"
         [matTooltipDisabled]="isBookAvailable(book.status)" class="delete-button-container">
    <button class="activity-button" [disabled]="!isBookAvailable(book.status)"
            (click)="openDialog()" mat-raised-button color="warn">Delete</button>
  </div>
  </div>
</div>
